



# Fichiers Python
__pycache__/
*.py[cod]
.venv/
venv/

# Fichiers sensibles
.env
*.env

# Cyber - Fichiers sensibles
scans_historique.json
historique_analyses.json
rapport_soc_*.md

# Fichiers système
.DS_Store
plantes.json# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
.Python

# Environnements virtuels
venv/
env/
ENV/

# VS Code
.vscode/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Cyber - Historiques sensibles
scans_historique.json
historique_analyses.json

# Cyber - Historiques sensibles
scans_historique.json
historique_analyses.json
